:root {
--blue: #5cccca;

--purple: #BE97E7;
--gray: #989595;
--dark-purple: #954DCD;
--light-gray: #EBE9F1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: futura, Verdana, Geneva, Tahoma, sans-serif;
}

/* Hero Section */

.hero {
    background-image: url("../images/hero-background.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.hero-logo {
    margin-top: 30px;
}
.hero-logo img {
    width: 30%;
    margin: 0 35%;
}
.hero-text {
    text-align: center;
}
.hero h1 {
    font-size: 80px;
    color: white;
    text-shadow: 3px 3px 4px var(--gray), 1px 1px 5px var(--light-gray);
}
.hero h2 {
    font-size: 32px; 
    color: white;
    padding: 10px 0 30px;
    text-shadow: 1px 1px 2px var(--gray), 1px 1px 5px var(--light-gray);
}

/* Header Style */

header {
    padding: 10px 0;
    background-color: white; 
    border: 1px solid var(--light-gray); 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header a {
    text-decoration: none;
}
header nav {
    margin: 7px 0;
    width: 100%;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
header nav ul li a {
    margin: 0px 20px;
    font-size: 23px;
    color:var(--gray);
    border-bottom: 2px solid transparent;
}
header nav ul li a:hover {
    border-bottom: 2px solid var(--gray);
}

/* Style for each section */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px
  }
.section h2 {
    color: white;
    font-size: 48px;
    border-bottom: 2px dashed white;
    text-shadow: 2px 2px 1px var(--gray), 0 0 25px var(--light-gray);
    margin: 30px 50px;
    width: 100%;
  }
.section p {
    color: var(--gray);
    font-size: 23px;
}

/* About me Section*/

#about-me {
    background-color: rgba(92, 204, 202, .3);
  }

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    width: 80%; 
}

.bio-image {
    width: 30%;
}
.bio-image img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px;
}

.bio-text {
    width: 60%;
}

.bio-text p {
    width: 100%;
}

#recent-work {
    background-color: var(--light-gray);
  }

  .flex-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .app {
      width: 30%;
      margin: 10px;
      order: 1;
  }

.app img {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px;
    width: 100%;
 }
      
.app a {
        color: var(--gray);
        text-decoration: none;
}   

.app-and-title img:hover {
        box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.2), 4px 6px 10px 2px rgba(0, 0, 0, 0.19);
}

.app h3 {
    width: 100%;
    text-align: center;
    padding: 10px 0 5px;
    color: var(--gray);
    text-transform: uppercase;
    flex-wrap: nowrap;
  }

#feature-app {
    order: 0;
    flex: 2 0 100%;
}

#feature-app img {
    width: 60%;
    margin: 0 20% 0 20%;
}
#feature-app h3 {
    font-size: 40px;
}
#feature-app img:hover {
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.2), 4px 6px 10px 2px rgba(0, 0, 0, 0.19);
}

#contact-me {
    background-color: rgba(190, 151, 231, .3);
    
  }

.contact-info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    align-items: center;
}

.contact-info h3 {
      color: var(--gray);
      font-weight: lighter;
      width: 20%;
      margin: 5px;
  }
  
  #email {
      flex-basis: 30%;
  }
/* style ends */

 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (max-width: 768px) {

.hero h1 {
   font-size: 48px;
}
.hero h2 {
    font-size: 24px;
    padding: 5px 0 15px;
}

.section h2 {
    text-align: center;
    font-size: 35px;
}

.section p {
    font-size: 18px;
}

.app h3 {
    font-size: 18px;
}
#feature-app h3 {
    font-size: 30px;
}

.contact-info h3 {
    font-size: 16px;
}
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
header {
    padding: 0 0 3px;
}
header nav ul {
    flex-direction: column;
}
header nav ul li {
    padding-top: 3px;
}

header nav ul li a {
    font-size: 14px;
}
.bio-image {
width:60%;
}
.bio-text {
    width: 100%;
    text-align: center;
}
.app {
    width: 50%;
}

.app h3 {
    font-weight: lighter;
}

.contact-info {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.contact-info h3 {
    width: 100%;
    text-align: center;
}
}